@import ('nib')
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700')

.open-sans
  font-family 'Open Sans', sans-serif

.pure-g [class *='pure-u']
  @extends .open-sans

html,
body
  width 100%
  height 100%
  @extends .open-sans

.pure-form
  input[type='text'], input[type='password'], input[type='email'], input[type='url'], input[type='date'], input[type='month'], input[type='time'], input[type='datetime'], input[type='datetime-local'], input[type='week'], input[type='number'], input[type='search'], input[type='tel'], input[type='color'], select, textarea
    @extends .open-sans
